In [2]:
import matplotlib as plt
import pandas as pd
import numpy as np
from math import sqrt
from statistics import mean
from numpy import array
import numpy as np

In [3]:
df = pd.read_csv('../data_utf_8/BGCON_CUST_DATA_utf_8_extract.txt', index_col=0)
df

,DIVIDED_SET,SIU_CUST_YN,SEX,AGE,RESI_COST,RESI_TYPE_CODE,FP_CAREER,CUST_RGST,CTPR,OCCP_GRP_1,...,WEDD_YN,MATE_OCCP_GRP_1,MATE_OCCP_GRP_2,CHLD_CNT,LTBN_CHLD_AGE,MAX_PAYM_YM,MAX_PRM,CUST_INCM,RCBASE_HSHD_INCM,JPBASE_HSHD_INCM
CUST_ID,,,,,,,,,,,,,,,,,,,,,
1,1,N,2,47,21111,20.0,N,199910.0,충북,3.사무직,...,Y,3.사무직,2차산업 종사자,2.0,13.0,200811.0,319718.0,4879.0,10094,11337.0
2,1,N,1,53,40000,20.0,N,199910.0,서울,3.사무직,...,Y,1.주부,주부,2.0,17.0,200012.0,341341.0,6509.0,9143,6509.0
3,1,N,1,60,0,NaN,N,199910.0,서울,5.서비스,...,N,NaN,NaN,0.0,0.0,200305.0,131300.0,4180.0,0,4180.0
4,1,N,2,64,12861,40.0,Y,199910.0,경기,2.자영업,...,N,NaN,NaN,0.0,0.0,201009.0,1493184.0,NaN,4270,5914.0
5,1,N,2,54,0,NaN,Y,199910.0,광주,2.자영업,...,Y,3.사무직,고위 공무원,3.0,19.0,200807.0,166760.0,3894.0,0,8885.0
6,1,N,1,62,6218,99.0,N,199910.0,충남,3.사무직,...,Y,1.주부,주부,1.0,34.0,201606.0,82850.0,NaN,0,6449.0
7,1,Y,2,60,11388,30.0,N,199910.0,서울,5.서비스,...,Y,NaN,NaN,1.0,26.0,200903.0,482077.0,3611.0,0,3611.0
8,1,N,1,57,86527,20.0,Y,199910.0,서울,2.자영업,...,Y,2.자영업,3차산업 종사자,1.0,21.0,200610.0,10283415.0,6465.0,12219,12063.0
9,1,N,1,54,22638,20.0,N,199910.0,서울,4.전문직,...,Y,4.전문직,공무원,1.0,13.0,200207.0,29.0,4975.0,7553,9821.0
12,1,N,1,58,37222,20.0,N,199910.0,서울,4.전문직,...,Y,4.전문직,교사,2.0,23.0,200403.0,724768.0,8780.0,10466,13858.0
13,1,Y,1,63,8140,50.0,N,199910.0,경기,6.제조업,...,Y,5.서비스,예체능계 종사자,0.0,0.0,199812.0,483850.0,NaN,4066,NaN
15,1,N,1,59,23055,20.0,N,199910.0,서울,3.사무직,...,Y,1.주부,주부,0.0,0.0,200512.0,594075.0,4362.0,6654,4362.0
16,1,N,2,52,6684,12.0,N,199910.0,전북,1.주부,...,Y,3.사무직,사무직,0.0,0.0,201301.0,2062433.0,0.0,5285,5620.0
17,1,N,1,68,14027,20.0,N,199910.0,대구,5.서비스,...,Y,1.주부,주부,0.0,0.0,200305.0,229500.0,NaN,4538,5869.0
18,1,N,1,48,33333,20.0,N,199910.0,경기,5.서비스,...,Y,3.사무직,단순 사무직,4.0,6.0,201310.0,458095.0,5911.0,9026,10079.0
19,1,N,1,64,15833,20.0,N,199911.0,경기,2.자영업,...,Y,1.주부,주부,1.0,34.0,199907.0,300000.0,NaN,5075,6120.0
20,1,N,1,57,28888,20.0,N,200003.0,경기,2.자영업,...,Y,5.서비스,3차산업 종사자,2.0,23.0,201203.0,130000.0,6024.0,9441,9481.0
21,1,N,2,63,8802,11.0,N,200011.0,경북,1.주부,...,Y,NaN,NaN,2.0,29.0,200708.0,112749.0,NaN,3973,3922.0
22,1,N,2,51,4309,12.0,Y,200102.0,경기,2.자영업,...,Y,2.자영업,자영업,2.0,22.0,201208.0,466370.0,3825.0,5206,10174.0
23,1,N,1,81,7813,40.0,N,200102.0,대구,5.서비스,...,Y,5.서비스,3차산업 종사자,0.0,0.0,201508.0,60690.0,NaN,1274,1379.0
24,1,N,2,58,1471,11.0,N,200103.0,부산,2.자영업,...,Y,3.사무직,사무직,1.0,35.0,200409.0,588610.0,3794.0,4534,9050.0
25,1,N,2,49,30000,20.0,N,200103.0,경기,1.주부,...,Y,5.서비스,예체능계 종사자,2.0,15.0,200610.0,2191266.0,0.0,7591,5323.0
26,1,Y,2,55,15555,20.0,Y,200104.0,광주,2.자영업,...,Y,2.자영업,자영업,2.0,28.0,200103.0,1957263.0,3866.0,6381,9091.0
27,1,N,1,55,36111,20.0,N,200104.0,서울,6.제조업,...,Y,4.전문직,교사,2.0,29.0,200301.0,202450.0,5632.0,10707,10737.0
28,1,N,1,61,17777,20.0,N,200105.0,인천,3.사무직,...,Y,2.자영업,3차산업 종사자,1.0,29.0,201108.0,2664440.0,NaN,6889,NaN
29,1,N,2,39,0,NaN,N,200106.0,울산,3.사무직,...,Y,5.서비스,2차산업 종사자,3.0,15.0,200105.0,467400.0,3574.0,0,7331.0
30,1,N,2,57,4865,30.0,N,200106.0,대구,1.주부,...,Y,8.기타,3차산업 종사자,0.0,0.0,200010.0,200000.0,0.0,3998,3921.0
31,1,N,2,54,10683,99.0,N,200106.0,부산,2.자영업,...,Y,NaN,NaN,2.0,27.0,200305.0,298100.0,4688.0,0,4688.0
32,1,N,2,52,15194,99.0,Y,200106.0,서울,1.주부,...,Y,5.서비스,3차산업 종사자,4.0,22.0,200208.0,918350.0,0.0,0,4909.0
33,1,N,2,47,8888,20.0,N,200107.0,경남,8.기타,...,Y,2.자영업,자영업,1.0,22.0,200002.0,304417.0,2858.0,0,9147.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11063,1,N,1,6,5242,99.0,N,201106.0,전북,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0,0.0
8711,1,N,1,21,25416,20.0,N,200711.0,경기,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,5876,5588.0
2058,1,N,2,10,11805,30.0,N,200909.0,서울,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,3477,3438.0
1699,1,N,1,17,4444,20.0,N,200312.0,전남,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,3570,3551.0
15499,1,N,2,24,22084,11.0,N,201007.0,부산,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,7351,6994.0
6156,1,N,1,21,8916,40.0,N,200111.0,대구,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0,0.0
14826,1,N,1,21,2574,12.0,N,200306.0,대전,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,2242,4052.0
12570,1,N,1,22,6816,12.0,N,200306.0,대구,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,3424,3443.0
21572,1,N,1,24,11068,12.0,N,200306.0,서울,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,6986,6930.0
18279,1,N,1,64,5277,30.0,N,200306.0,인천,3.사무직,...,Y,1.주부,주부,1.0,27.0,NaN,NaN,NaN,3106,4324.0
2409,1,N,2,17,8864,40.0,N,200306.0,경기,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,4180,4266.0
14389,1,N,1,44,5277,20.0,N,200306.0,전남,6.제조업,...,Y,3.사무직,사무직,0.0,0.0,NaN,NaN,4096.0,3567,8207.0
12858,1,N,1,33,7500,20.0,N,200405.0,경북,3.사무직,...,N,NaN,NaN,0.0,0.0,NaN,NaN,3726.0,4017,3726.0
10744,1,Y,2,15,5019,99.0,N,200512.0,강원,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0,0.0
19371,1,N,1,20,12361,20.0,N,200306.0,인천,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,4228,4194.0
19375,1,N,1,20,10581,12.0,N,200306.0,경기,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,3957,3915.0
3561,1,Y,2,31,26666,20.0,N,200306.0,광주,4.전문직,...,N,NaN,NaN,0.0,0.0,NaN,NaN,3089.0,6877,3089.0
19406,1,Y,2,70,4271,12.0,N,199812.0,광주,1.주부,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0,0.0
5926,1,N,1,22,6216,99.0,N,200306.0,전남,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0,0.0
721,1,N,1,53,24722,20.0,N,200306.0,대구,2.자영업,...,Y,1.주부,주부,2.0,24.0,NaN,NaN,5914.0,9427,5914.0
19376,1,N,2,20,14583,20.0,N,200306.0,경기,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,4618,4548.0
19838,1,Y,2,28,32222,20.0,N,200701.0,경기,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,7696,5402.0
21597,1,N,2,22,16666,30.0,N,200306.0,서울,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,3871,3793.0
20276,1,Y,1,56,1298,13.0,N,200009.0,광주,2.자영업,...,Y,1.주부,주부,3.0,22.0,NaN,NaN,5185.0,4597,5185.0
2087,1,N,1,8,18063,40.0,N,201003.0,서울,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,5668,5669.0
875,1,Y,1,49,0,NaN,N,200306.0,경남,5.서비스,...,Y,3.사무직,3차산업 종사자,2.0,16.0,NaN,NaN,5090.0,0,8373.0
21483,1,N,2,30,31944,20.0,N,200306.0,경기,1.주부,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,9361,8947.0
21940,1,N,2,23,45972,20.0,N,200501.0,경기,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,11522,11484.0
20356,1,N,1,15,27777,20.0,N,200306.0,경기,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,7960,7614.0
17118,1,N,2,18,21527,20.0,N,200306.0,경기,8.기타,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,7746,7746.0

In [4]:
df_DIVIDED_SET = df["DIVIDED_SET"] 
df_SEX = df["SEX"]
df_AGE = df["AGE"]
df_RESI_COST = df["RESI_COST"]
df_RESI_TYPE_CODE = df["RESI_TYPE_CODE"]
df_FP_CAREER = df["FP_CAREER"]
df_CUST_RGST = df["CUST_RGST"]
df_CTPR = df["CTPR"]
df_OCCP_GRP_1 = df["OCCP_GRP_1"]
df_OCCP_GRP_2 = df["OCCP_GRP_2"]
df_TOTALPREM = df["TOTALPREM"]
df_MINCRDT = df["MINCRDT"]
df_MAXCRDT = df["MAXCRDT"]
df_WEDD_YN = df["WEDD_YN"]
df_MATE_OCCP_GRP_1 = df["MATE_OCCP_GRP_1"]
df_MATE_OCCP_GRP_2 = df["MATE_OCCP_GRP_2"]
df_CHLD_CNT = df["CHLD_CNT"]
df_LTBN_CHLD_AGE = df["LTBN_CHLD_AGE"]
df_MAX_PAYM_YM = df["MAX_PAYM_YM"]
df_MAX_PRM = df["MAX_PRM"]
df_CUST_INCM = df["CUST_INCM"]
df_RCBASE_HSHD_INCM = df["RCBASE_HSHD_INCM"]
df_JPBASE_HSHD_INCM = df["JPBASE_HSHD_INCM"]


df_SIU_CUST_YN = df["SIU_CUST_YN"]

In [32]:
#for column in range(0, 10):
#    if column not in [6]:
#        df[names[column]] = df[names[column]].astype("category")

In [5]:
def variance(x):
    n = len(x)
    deviations = de_mean(x)
    return sum_of_squares(deviations) / (n - 1)

def standard_deviation(x):
    return math.sqrt(variance(x))

def de_mean(x):
    x_bar = mean(x)
    return [x_i - x_bar for x_i in x]

def sum_of_squares(v):
    return dot(v, v)

In [10]:
def correlation(x, y):
    stdev_x = standard_deviation(x)
    stdev_y = standard_deviation(y)
    if stdev_x > 0 and stdev_y > 0:
        return covariance(x, y) / stdev_x / stdev_y
    else:
        return 0 

    #4가지 선택

#x_data = df_SEX
#x_data = df_AGE
#x_data = df['FP_CAREER'].map(lambda x: 0 if x == 'N' else 1)
x_data = df_RESI_COST
df['SIU_CUST_YN'] = df['SIU_CUST_YN'].map(lambda x: 0 if x == 'N' else 1)
#correlation(x_data, y_data)

In [11]:
np.corrcoef(x_data, y_data)

array([[ 1.        , -0.04417249],
       [-0.04417249,  1.        ]])

In [12]:
df['CTPR'] = df['CTPR'].astype("category")
df['OCCP_GRP_1'] = df['OCCP_GRP_1'].astype("category")
df['OCCP_GRP_2'] = df['OCCP_GRP_2'].astype("category")
df['MATE_OCCP_GRP_1'] = df['MATE_OCCP_GRP_1'].astype("category")
df['MATE_OCCP_GRP_2'] = df['MATE_OCCP_GRP_2'].astype("category")

df.dtypes

DIVIDED_SET            int64
SIU_CUST_YN            int64
SEX                    int64
AGE                    int64
RESI_COST              int64
RESI_TYPE_CODE       float64
FP_CAREER             object
CUST_RGST            float64
CTPR                category
OCCP_GRP_1          category
OCCP_GRP_2          category
TOTALPREM            float64
MINCRDT              float64
MAXCRDT              float64
WEDD_YN               object
MATE_OCCP_GRP_1     category
MATE_OCCP_GRP_2     category
CHLD_CNT             float64
LTBN_CHLD_AGE        float64
MAX_PAYM_YM          float64
MAX_PRM              float64
CUST_INCM            float64
RCBASE_HSHD_INCM       int64
JPBASE_HSHD_INCM     float64
dtype: object

In [13]:
df1 = pd.get_dummies(df, columns=["CTPR","OCCP_GRP_1","OCCP_GRP_2","MATE_OCCP_GRP_1","MATE_OCCP_GRP_2"], drop_first = True)
df1.describe()
df1.head()

/home/leejaeho/miniconda3/envs/ml_python/lib/python3.4/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,DIVIDED_SET,SIU_CUST_YN,SEX,AGE,RESI_COST,RESI_TYPE_CODE,FP_CAREER,CUST_RGST,TOTALPREM,MINCRDT,...,MATE_OCCP_GRP_2_사무직,MATE_OCCP_GRP_2_예체능계 종사자,MATE_OCCP_GRP_2_운전직,MATE_OCCP_GRP_2_의료직 종사자,MATE_OCCP_GRP_2_자영업,MATE_OCCP_GRP_2_전문직,MATE_OCCP_GRP_2_종교인/역술인,MATE_OCCP_GRP_2_주부,MATE_OCCP_GRP_2_학생,MATE_OCCP_GRP_2_학자/연구직
CUST_ID,,,,,,,,,,,,,,,,,,,,,
1,1,0,2,47,21111,20.0,N,199910.0,146980441.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,1,53,40000,20.0,N,199910.0,94600109.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1,0,1,60,0,NaN,N,199910.0,18501269.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0,2,64,12861,40.0,Y,199910.0,317223657.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1,0,2,54,0,NaN,Y,199910.0,10506072.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
df1.columns

Index(['DIVIDED_SET', 'SIU_CUST_YN', 'SEX', 'AGE', 'RESI_COST',
       'RESI_TYPE_CODE', 'FP_CAREER', 'CUST_RGST', 'TOTALPREM', 'MINCRDT',
       'MAXCRDT', 'WEDD_YN', 'CHLD_CNT', 'LTBN_CHLD_AGE', 'MAX_PAYM_YM',
       'MAX_PRM', 'CUST_INCM', 'RCBASE_HSHD_INCM', 'JPBASE_HSHD_INCM',
       'CTPR_경기', 'CTPR_경남', 'CTPR_경북', 'CTPR_광주', 'CTPR_대구', 'CTPR_대전',
       'CTPR_부산', 'CTPR_서울', 'CTPR_세종', 'CTPR_울산', 'CTPR_인천', 'CTPR_전남',
       'CTPR_전북', 'CTPR_제주', 'CTPR_충남', 'CTPR_충북', 'OCCP_GRP_1_2.자영업',
       'OCCP_GRP_1_3.사무직', 'OCCP_GRP_1_4.전문직', 'OCCP_GRP_1_5.서비스',
       'OCCP_GRP_1_6.제조업', 'OCCP_GRP_1_7.1차산업', 'OCCP_GRP_1_8.기타',
       'OCCP_GRP_2_2차산업 종사자', 'OCCP_GRP_2_3차산업 종사자', 'OCCP_GRP_2_고소득 전문직',
       'OCCP_GRP_2_고소득의료직', 'OCCP_GRP_2_고위 공무원', 'OCCP_GRP_2_공무원',
       'OCCP_GRP_2_교사', 'OCCP_GRP_2_교육관련직', 'OCCP_GRP_2_기업/단체 임원',
       'OCCP_GRP_2_기타', 'OCCP_GRP_2_단순 노무직', 'OCCP_GRP_2_단순 사무직',
       'OCCP_GRP_2_대학교수/강사', 'OCCP_GRP_2_법무직 종사자', 'OCCP_GRP_2_사무직',
       'OCCP_GRP_2_예체능계 종사자', 'OCCP_GRP_2_운전직', 'OCCP_GRP_2_의료직 종사자',
       'OCCP_GRP_2_자영업', 'OCCP_GRP_2_전문직', 'OCCP_GRP_2_종교인/역술인',
       'OCCP_GRP_2_주부', 'OCCP_GRP_2_학생', 'OCCP_GRP_2_학자/연구직',
       'MATE_OCCP_GRP_1_2.자영업', 'MATE_OCCP_GRP_1_3.사무직',
       'MATE_OCCP_GRP_1_4.전문직', 'MATE_OCCP_GRP_1_5.서비스',
       'MATE_OCCP_GRP_1_6.제조업', 'MATE_OCCP_GRP_1_7.1차산업',
       'MATE_OCCP_GRP_1_8.기타', 'MATE_OCCP_GRP_2_2차산업 종사자',
       'MATE_OCCP_GRP_2_3차산업 종사자', 'MATE_OCCP_GRP_2_고소득 전문직',
       'MATE_OCCP_GRP_2_고소득의료직', 'MATE_OCCP_GRP_2_고위 공무원',
       'MATE_OCCP_GRP_2_공무원', 'MATE_OCCP_GRP_2_교사', 'MATE_OCCP_GRP_2_교육관련직',
       'MATE_OCCP_GRP_2_기업/단체 임원', 'MATE_OCCP_GRP_2_기타',
       'MATE_OCCP_GRP_2_단순 노무직', 'MATE_OCCP_GRP_2_단순 사무직',
       'MATE_OCCP_GRP_2_대학교수/강사', 'MATE_OCCP_GRP_2_사무직',
       'MATE_OCCP_GRP_2_예체능계 종사자', 'MATE_OCCP_GRP_2_운전직',
       'MATE_OCCP_GRP_2_의료직 종사자', 'MATE_OCCP_GRP_2_자영업', 'MATE_OCCP_GRP_2_전문직',
       'MATE_OCCP_GRP_2_종교인/역술인', 'MATE_OCCP_GRP_2_주부', 'MATE_OCCP_GRP_2_학생',
       'MATE_OCCP_GRP_2_학자/연구직'],
      dtype='object')

In [17]:
grouped = df1['SIU_CUST_YN'].groupby(df['MATE_OCCP_GRP_1'])
#print(grouped.describe())
grouped.mean()

MATE_OCCP_GRP_1
1.주부      0.073990
2.자영업     0.123351
3.사무직     0.092691
4.전문직     0.073887
5.서비스     0.102113
6.제조업     0.089251
7.1차산업    0.089457
8.기타      0.089810
Name: SIU_CUST_YN, dtype: float64

In [143]:
#names = ["df_DIVIDED_SET", "df_SEX", "df_AGE", "df_RESI_COST", "df_RESI_TYPE_CODE", "df_FP_CAREER", "df_CUST_RGST", "df_CTPR", "df_OCCP_GRP_1", "df_OCCP_GRP_2", "df_TOTALPREM", "df_MINCRDT", "df_MAXCRDT", "df_WEDD_YN", "df_MATE_OCCP_GRP_1", "df_MATE_OCCP_GRP_2", "df_CHLD_CNT", "df_LTBN_CHLD_AGE", "df_MAX_PAYM_YM", "df_MAX_PRM", "df_CUST_INCM", "df_RCBASE_HSHD_INCM", "df_JPBASE_HSHD_INCM"]
#df[:5]
#df.dtypes